<div class="events new">
  <h2>Create New Event</h2>

  <%= form_for(Event.new) do |f| %>

    <table summary="Member form fields" class="centertable">
      <tr>
        <th>Title</th>
        <td><%= f.text_field(:title) %></td>
      </tr>
      <tr>
        <th>Date</th>
        <td><%= f.date_field(:date) %></td>
      </tr>
      <tr>
        <th>Points</th>
        <td><%= f.text_field(:points_worth) %></td>
      </tr>
      <tr>
        <th>Semester</th>
        <td><%= f.select :semester, ['Fall','Spring']%></td>
      </tr>
      <tr>
        <th><%= link_to("<< Back to All Events", members_path, :class => 'back-link') %></th>
        <td><%= f.submit "Create Event", :class => "button" %></td>
      </tr>
    </table>

  <% end %>
</div>
