<div class="members show">
  <h2>Show Event</h2>

  <table  class="centertable" summary="Event detail view">
    <tr>
      <th>ID</th>
      <td><%= @event.id %></td>
    </tr>
    <tr>
      <th>Title</th>
      <td><%= @event.title %></td>
    </tr>
    <tr>
      <th>Points</th>
      <td><%= @event.points_worth %></td>
    </tr>
    <tr>
      <th>Semester</th>
      <td><%= @event.semester %></td>
    </tr>
    <tr>
        <th><%= link_to("<< Back to List", events_path, :class => 'back-link') %></th>
        <td><%=form_tag import_members_path(points_worth: @event.points_worth,id: @event.id, semester: @event.semester), multipart: true do%>
          <%=file_field_tag :file, :class => "button"%>
          <%= submit_tag "Import", :class => "button"%>
        <% end %>
        <% flash.each do |type, msg| %>
          <div>
            <%= msg %>
          </div>
        <% end %>
        </td>
      </tr>
  </table>
<% if @event.mapped_id != -1 %>
<%= button_to "Import Points from Sign Up", apimport_members_path(points_worth: @event.points_worth,mapped_id: @event.mapped_id,semester: @event.semester),:method => :post %>
<% end %>
</div>
