<%= link_to("<< Back to List", events_path, :class => 'back-link') %>

<div class="members show">
  <h2>Show Event</h2>

  <table summary="Event detail view">
    <tr>
      <th>ID</th>
      <td><%= @event.id %></td>
    </tr>
    <tr>
      <th>Title</th>
      <td><%= @event.title %></td>
    </tr>
    <tr>
      <th>Points</th>
      <td><%= @event.points_worth %></td>
    </tr>
    <tr>
      <th>Semester</th>
      <td><%= @event.semester %></td>
    </tr>
  </table>
<%=form_tag import_members_path(points_worth: @event.points_worth,id: @event.id, semester: @event.semester), multipart: true do %>
  <%=file_field_tag :file%>
  <%= submit_tag "Import"%>
<% end %>
<%= button_to "Import Points from Sign Up", apimport_members_path(@event.mapped_id),:method => :get %>
</div>
