<!DOCTYPE html>
<html>
  <head>
    <title>PAID Points: <%= @page_title || "PAID" %></title>
    <%= stylesheet_link_tag('application', :media => 'all') %>
    <% csrf_meta_tags %>
  </head>
  <body>

    <div id="header">
      <%= image_tag('PAID-logo.svg', :size => '400x50') %>
      <h1>
      PAID Points
      </h1>
    </div>
    <div id="main">
      <% if !flash[:notice].blank? %>
        <div class="notice">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
