

<div class="members edit">
  <h2>Update Member</h2>

  <%= form_for(@member) do |f| %>

    <table summary="Member form fields" class="centertable">
      <tr>
        <th>First Name</th>
        <td><%= f.text_field(:first_name) %></td>
      </tr>
      <tr>
        <th>Last Name</th>
        <td><%= f.text_field(:last_name) %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= f.text_field(:email) %></td>
      </tr>
      <tr>
        <th>Fall Points</th>
        <td><%= f.text_field(:fall_points) %></td>
      </tr>
      <tr>
        <th>Spring Points</th>
        <td><%= f.text_field(:spring_points) %></td>
      </tr>
      <tr>
        <th>Total Points</th>
        <td><%= f.text_field(:total_points) %></td>
      </tr>
      <tr>
        <th><%= link_to("<< Back to List", members_path, :class => 'back-link') %></th>
        <td><%= f.submit "Update Member", :class => "button" %></td>
      </tr>
    </table>

  <% end %>
</div>
