<div class="members index">
  <h1 style="text-align:center">PAID Points</h1>

  <h2 style="margin-left:10%">
  <%= link_to("View Events", events_path, :class => 'action index') %>
  <%= link_to("Admin Users Menu", admin_path, :class => 'action index') %>
  </h2>
  
  <table class="centertable" summary="Member list">
    <tr class="header">
      <th>First Name</th>
      <th>Last Name</th>
      <th>Total Points</th>
      <th>Fall Points</th>
      <th>Spring Points</th>
    </tr>

    <% @members.each do |member| %>
    <tr>
      <td><%= member.first_name %></td>
      <td><%= member.last_name %></td>
      <td class="center"><%= member.total_points %></td>
      <td class="center"><%= member.fall_points %></td>
      <td class="center"><%= member.spring_points %></td>
      <td class="actions">
        <%= link_to("Show", member_path(member), :class => 'action show') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
